details {

	margin-bottom: 10px;

}

details summary:focus {

	outline: none;

}

summary span {

	border-bottom: 1px dotted;
	cursor: pointer;
	font-size: 15px;

}

details p {

	padding-left: 15px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;

}